// Here you can add other styles

.sidebar {
    background: #ffffff;
}

.sidebar .nav-link .nav-icon {
    color: #000000;
}

.sidebar .nav-link {
    color: #000000;
}

.sidebar .nav-link.active {
    background: #1a2336;
    color: #ffffff;
}

.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}

.mdl-shadow--2dp {
    box-shadow: none;
}

.firebaseui-info-bar {
    margin-top: 20px;
}

div.mdl-progress::after {
    display: block;
    color: black;
    content: "Authenticating";
    margin: 20px auto;
    text-align: center;
}

.mdl-progress {
    height: 5px;
}