// Here you can add other styles

.sidebar {
    background: #ffffff;
}

.sidebar .nav-link .nav-icon {
    color: #000000;
}

.sidebar .nav-link {
    color: #000000;
}

.sidebar .nav-link.active {
    background: #1a2336;
    color: #ffffff;
}

.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}