@media only screen and (max-width: 728px) {

  .specialized-box {

    .cell {
      width: 90% !important;
      margin-bottom: 25px;
    }

    .control {
        width: 100%;
    }

    select {
        width: 300px;
    }

  }

  .timereg-title {
    margin-bottom: 25px;
  }


}
