@media only screen and (max-width: 728px) {

  .specialized-box {

    .cell {
      width: 90% !important;
      margin-bottom: 25px;
    }

    .control {
        width: 100%;
    }

    select {
        width: 350px;
    }

  }

  .timereg-title {
    margin-bottom: 25px;
  }

  .main .container-fluid {
      padding: 0;
      width: 95%
  }

  .timereg {
      padding-bottom: 0 !important;
      margin-bottom: 17.5px !important;
  }

  .comments {
      margin-top: -25px;
  }

  .timeRegButtons {
      margin-left: 10px !important;
      margin-top: -750px;
      margin-bottom: 15px;
  }

}
